<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="TestCase.TestListener"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="pages.BaseClass"/>
      <class name="TestCase.LoginTest"/>
      <class name="TestCase.RegistrationTest"/>
      <class name="TestCase.MenuCreationTest"/>
       <class name="TestCase.CreateWebSiteTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
